@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #25262B;
}

@theme {
  --color-foreground: var(--foreground);
  --color-typography-primary: #25262B;
  --color-typography-secondary: rgba(37, 38, 43, 0.67);
  --color-typography-tertiary: #C180D1;
  --color-background-primary: #FEF1F0;
  --color-background-secondary: #e9e3e3;
  --color-background-therdiary: #FEF9FF;
  --color-background-fourthiary: #D9D9D9;
  --font-sans: var(--font-open-sans);
  --font-mono: var(--font-open-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #d61288b6;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
